.MondayWrapper {
  width: 100%;
  // max-width: 1900px;
  height: 200px;
  width: 1200%;
  // max-width:900px;
  border: 1px solid #000;
}

.MondayWrapperForm {
  width: 2%;
  height: 180px;
  // border: 1px solid red;
  display: inline-flex;
  margin-left: 0px;
}
